<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>红绿灯最优配时系统</title>

    <!-- Bootstrap core CSS-->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{css/sb-admin.css}" rel="stylesheet">

    <script th:inline="javascript">
        function upload() {
            var fileObj = document.getElementById("file");

            //判断上传文件类型是否为.zip压缩文件
            var fileName = fileObj.value;
            var zip = fileName.lastIndexOf(".");
            var extension = fileName.substring(zip).toLowerCase();
            if (extension!=".zip"){
                alert("请上传 .zip 类型压缩文件！")
                fileObj.outerHTML = fileObj.outerHTML;
                return;
            }
            //判断上传文件大小
            var fileSize = fileObj.files[0];
            if (fileSize.size>1024*1024*100){
                alert("请上传不超过100M的文件！")
                fileObj.outerHTML = fileObj.outerHTML;
                return;
            }
        }

        // function checkOut() {
        //     var fileName = document.getElementById("file");
        //     alert(fileName);
        //     window.location.href = "trafficDataUpload?file="+fileName;
        // }
    </script>

</head>

<body id="page-top">
<!--顶部菜单栏-->
<div th:replace="header"></div>

<div id="wrapper">

    <!--左侧菜单栏-->
    <div th:replace="navBar"></div>

    <div id="content-wrapper">
        <form th:action="@{/trafficDataUpload}" method="POST" enctype="multipart/form-data">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">交通量数据管理</li>

                <li class="breadcrumb-item">
                    <a th:href="@{/trafficDataUploadInit}">交通量数据上传</a>
                </li>
                <!--消息显示-->
                <li style="color: red" class="breadcrumb-item" th:text="${message}">
                </li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-file-upload"></i>
                    交通量数据上传
                </div>
                <div class="card-body">
                    <input type="file" name="file" id="file" class="custom-file" onchange="upload()"/>
                    <input type="submit" value="交通量数据上传" class="btn btn-primary"/>
                    <!--<input type="button" value="交通量数据上传" class="btn btn-primary" onclick="checkOut()"/>-->
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
        </form>

        <!--底部信息栏-->
        <div th:replace="bottom"></div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{vendor/datatables/dataTables.bootstrap4.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin.min.js}"></script>

<!-- Demo scripts for this page-->
<script th:src="@{js/demo/datatables-demo.js}"></script>
<script th:src="@{js/demo/chart-area-demo.js}"></script>

</body>
