<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>红绿灯最优配时系统</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link th:href="@{vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin.css}" rel="stylesheet">

  <script type="text/javascript">
    function download() {
        var box = document.getElementsByName("selectAll");
        var objArray = box.length;
        var listString = "";
        for(var i=0;i<objArray;i++){
            if(box[i].checked == true){
                listString += box[i].value+",";
            }
        }
        var url = "/simulaterWebApp/assessResultDownloadByFileName?fileNameList="+listString;
        window.location.href = url;
    }
  </script>

</head>

<body id="page-top">
<!--顶部菜单栏-->
<div th:replace="header"></div>

<div id="wrapper">

  <!--左侧菜单栏-->
  <div th:replace="navBar"></div>

  <!--中间信息展示栏  自定义-->
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">配时结果管理</li>
        <li class="breadcrumb-item">
          <a th:href="@{/assessResultDownload}">评价结果下载</a>
        </li>
        <li style="color: red" class="breadcrumb-item">
          <td th:each="resultMap:${result}" th:text="${resultMap.messageId}"></td>
        </li>
      </ol>

        <div class="card mb-3">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <div class="table-responsive" style="height: 600px; overflow-y: scroll;">
                    <form id="form" th:action="@{/assessResultDownloadByFileName}" method="GET">
                      <td th:each="fileNameList:${fileNameList}">
                        <input name="selectAll" th:id="${fileNameList}" type="checkbox" th:value="${fileNameList}"/>
                        <a th:href="@{'/searchXLSXFileByFileName?filename='+${fileNameList}}" th:text="${fileNameList}"></a><br>
                      </td>
                    </form>
                    <input type="checkbox" id="selectAll"/>全选<br>
                    <script type="text/javascript">
                        var allBut = document.getElementById("selectAll");
                        allBut.onclick = function() {
                            var checkedData = this.checked;
                            var selectArr = document.querySelectorAll("input[type=checkbox]");
                            for(var dom of selectArr) {
                                dom.checked = checkedData;
                            }
                        }
                    </script>
                    <button type="button" class="btn btn-primary" onclick="download()">下载</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">

                  <div id="log-container" style="height: 600px; overflow-y: scroll; background: #333; color: #aaa; padding: 10px;">
                    <div>
                      <table border="1px">
                        <tr th:each="resultMap:${result}">
                          <span style="color: red;" th:if="${resultMap.result.date} != null"  th:text="${resultMap.result.date}"></span>
                        </tr>
                      </table>
                      <table border="1px" th:each="resultMap:${result}">
                        <tbody th:each="xlsxProperties,iterStat:${result.result.xlsxProperties}" >
                        <tr>
                          <td th:text="${xlsxProperties.time}"></td>
                          <td>&nbsp;old_parameter&nbsp;</td>
                          <td>&nbsp;new_parameter&nbsp;</td>
                          <td>&nbsp;improvementRate&nbsp;</td>
                        </tr>

                        <tr>
                          <td>&nbsp;waittingTime&nbsp;</td>
                          <td th:if="${xlsxProperties.value1} !='-1.0'" th:text="${xlsxProperties.value1}"></td>
                          <td th:if="${xlsxProperties.value2} !='-1.0'" th:text="${xlsxProperties.value2}"></td>
                          <td th:if="${xlsxProperties.period1} !='-0.0'" th:text="${xlsxProperties.period1}"></td>
                        </tr>

                        <tr>
                          <td>&nbsp;trafficFlow&nbsp;</td>
                          <td th:if="${xlsxProperties.value3} !='-1.0'" th:text="${xlsxProperties.value3}"></td>
                          <td th:if="${xlsxProperties.value4} !='-1.0'" th:text="${xlsxProperties.value4}"></td>
                          <td th:if="${xlsxProperties.period2} !='-0.0'" th:text="${xlsxProperties.period2}"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>



    </div>

  <!--底部信息栏-->
  <div th:replace="bottom"></div>
  </div>


</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
</body>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin.min.js}"></script>

</html>